/* Страница авторизации */

.pageAuth {
    background-image: url("../img/bg.gif");
}

.authForm {
    width: 30%;
    height: auto;
    margin-left: 35%;
    margin-top: 15%;
    border: 1px solid gray;
    border-radius: 1rem;
}

.logoImg {
    width: 100px;
    height: 100px;
}

.logo {
    float: left;
    margin-left: 35%;
}

.log {
    width: 90%;
    height: 3em;
    font-size: 1em;
    margin-left: 5%;
    margin-top: 5%;
    border-radius: 1rem;
    text-align: center;
    border-color: white;
    background-color: lightgray;
}

.authBtn {
    width: 50%;
    height: 2.5rem;
    font-size: 1.5rem;
    margin-left: 25%;
    margin-top: 5%;
    background-color: lightgray;
    border-color: lightgray;
    border-radius: 1rem;
}

/*Главная страница*/

.mainFrame {
    background-color: yellow;
    min-height: 860px;
    min-width: 1280px;
    width: 100%;
    height: 100%;

}

.navigation {
    width: 100%;
    height : auto;
    background-color: black;
    color: white;
}

.nav {
    font-family: Verdana;
    font-size: 2rem;
}

.nav > li{
    display: inline-block;
    margin-right: 5%;
    text-decoration: none;
    border-left: 1px solid white;
}

.menuMain {
    width: 100%;
    font-size: 2rem;
    background-color: black;
    color: white;
    border-radius: 0.5em;
    margin-left: 30%;
    border-color: greenyellow;
}


